@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

/* Configurações padrão para toda a página*/
* {
    margin-bottom: 30px;
    font-family: 'Barlow', sans-serif;
}

ul li {
    list-style-type:square;
}