
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

*{
    font-family: 'Barlow', sans-serif;

}
html, body {

margin: 0;
}

body {
background-color: antiquewhite;
display: flex;
justify-content: center;
}

.wrapper {
width: 1200px;
display: flex;
margin: 0 auto;
background-color: aquamarine;
}
.main {
display: flex;
flex-flow: column;
width: 85%;
}
.menu {
width: 15%;
background-color: aqua;
padding: 10px 20px 0px;
}

.menu button{
margin:30px;
margin-left: -5px;
text-transform: uppercase;
width: 120px;
    height: 40px;
    font-weight: bold;
    border: 0;
    background-color: rgb(5, 108, 108);
    color: antiquewhite;
    cursor: pointer;
    transition: .2s;


}

.menu button a{
    text-decoration: none;
    color: antiquewhite;
}

.header {
background-color: rgb(5, 108, 108);
min-height: 150px;
color: antiquewhite;

}
.content {
background-color: white;
min-height: 300px;
padding: 20px;
font-size: 25px;

}

.content li{
    list-style-type:square;
}
.footer {
background-color: rgb(5, 108, 108);
min-height: 150px;
display: flex;
align-items: center;
}

.img{
display:block;
padding-left: 45px;
color: antiquewhite;

}

.img img{
    margin-right: 10px;
}





